#logomenu{
    height: 50px;
}

.imgcarrosel{
    height: 42.5rem !important;
}

.separacao{
    background-image: url("Assets/imagens/1920x280_bg.jpg");
    text-align: center;
    color: aliceblue;
    padding: 2rem;
}

#divcards{
    padding: 1rem;
}

.card-title{
    color: red !important;
}

.cardvalor{
    color: blue !important;
    text-align: center;
    font-size: 12px;
}

.cardcampo{
    text-align: center;
    font-size: 12px;
}